[submodule "Arkade2"]
	path = Arkade2
	url = https://github.com/eugensosna/Gamedev-Canvas-workshop.git
	branch = gh-pages
[submodule "Arkade3"]
	path = Arkade3
	url = https://github.com/eugensosna/Gamedev-Canvas-workshop.git
	branch = gh-pages
